.stickyButton-container {
  position: fixed;
  transition: all 0.3s ease;
  top: 2em;
  right: 2em;

  &:hover {
    scale: 1.3;
    .stickyButton-inner-div {
      opacity: 1;
    }
  }

  img {
    width: 5em;
  }

  .stickyButton-inner-div {
    width: 100%;
    height: 100%;
    text-align: center;

    opacity: 0;
  }
}
